body{
	background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.userdiv{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
	width: 90vw;
	border: 1px solid black;
	margin: 1rem;
	padding: 1rem;
}

.main{
	display: flex;
	justify-content: space-around;
	margin: 1rem;
	padding: 1rem;
}

.restrolist{
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 1px solid black;
	margin: 1rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
	
}
.restrolist button{
	width: 40%;
}

.dashboard{
	display: flex;
	flex-direction: column;
	width: 40%;
	border: 1px solid black;
	margin: 1rem;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}

.dashboard form{
	display: flex;
	height: 100%;
	width: 40%;
	flex-direction: column;
	justify-content: space-between;
}