<!DOCTYPE html>
<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>

<body>
	<div class="userdiv">
		<h1 class="name">Hi, {{name}}</h1>
		<hr style="width: 30%">
		<h3 class="email"> {{email}}</h3>
		<a href="/"><button type="submit" value="HOME" name="logout" class="fadeIn fourth"
				onclick="location.href'/';">Logout </button></a>
	</div>

	<div class="main">
		<div class="restrolist" id="books">
		</div>

		<div class="dashboard">
			<h2>Add your Leftover Dishes Here</h2>
			<form action="http://localhost:3000/book" method="POST">
				<input type="text" name="restroname" placeholder="Enter your Restuarant Name Here...">

				<input type="text" name="dish" placeholder="Enter your Dish Here...">
				
				<input type="text" name="quantity" placeholder="Enter your Dish Quanity in KG Here...">

				<input type="text" name="desc" placeholder="Enter any Optional Description Here...">

				<input name="time" type="time">
				<button type="submit">Submit</button>
			</form>
		</div>
	</div>
	<script src="../index.js"></script>
</body>
</html>